.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid transparent;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.card:hover {
  transform: scale(0.99);
  filter: drop-shadow(0px 0px 3px rgb(41, 37, 57))

}
.card:hover .cardImage {
  transform: scale(0.99);
  filter: drop-shadow(0px 0px 3px rgb(164, 164, 164))
}

.cardImage {
  width: 100%;
  border-radius: var(--radius);
  overflow: hidden;
}

.hero > .cardImage {
  height: 519px;
  object-fit: cover;
  object-position: top;
}

.cardBottomTab {
  font-display: auto;
  flex-direction: column;
  text-align: left;

  height: auto;
}

.cardTitle {
  overflow: hidden;

  font-size: 1.5em;

  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.48px;
  white-space: nowrap;
  max-width: 300px;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.hero > .cardBottomTab > .cardTitle {
  max-width: 430px;
}

.cardAuthor {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 18px;
}
