.modalCard {
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg);
  color: var(--text-prime);
  border-radius: var(--radius);
  position: relative;
  padding: 40px 20px 64px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.descriptionBlock {
  padding: 32px 16px;
  background-color: var(--bg2);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 498px;
  height: 100%;
}

.charactersImage,
.creatorImage {
  border-radius: var(--radius);
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  transition: all 0.12s ease-in-out;
}

.charactersListItem:hover .charactersImage {
  transform: scale(1.2);
}

.charactersListItem {
  display: flex;
  align-items: center;
  gap: 32px;
  cursor: pointer;

  flex-direction: row;
}
.charItems {
  flex-direction: column;
}

.characters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  column-gap: 16px;

  height: 100%;
}

.creatorDescr {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.creatorCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}

.modalTitle {
  color: var(--text-prime);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.modalTitle:not(:first-child) {
  margin-top: 16px;
}

.modalText {
  color: var(--text-prime);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.modalText > li:first-child {
  margin-top: 16px;
}
.modalText > li:not(:last-child) {
  margin-bottom: 0.4em;
}

/* About block */
.aboutHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}

.authorDetailTitle {
  display: flex;
  gap: 8px;
  color: var(--text-secondary);
  position: relative;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.authorDetailTitle > li:first-child {
  text-align: end;
}

/* Details block */
.details {
  display: flex;
  gap: 32px;
}
.details > li {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.decoLine {
  display: block;
  width: 1px;
  border: 1px solid var(--text-secondary);
}

.detailName {
  color: var(--text-secondary);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}

/* creators */
.creatorsBlock,
.characters {
  margin-top: 32px;
}
.creatorsBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.creatorRole {
  color: var(--text-secondary);

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.creatorImage {
  z-index: 1;
  position: relative;
}
.creatorImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url('../../../images/creator404.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

/* Gallery */

.img {
  opacity: 1;
  background-color: var(--bg2);
  width: 100%;
  height: auto;
  border-radius: var(--radius);
}

.imgBG {
  border-radius: var(--radius);
  display: block;
  background-color: var(--bg2);
  width: 100%;
  height: auto;
}
.imageGallery {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.imageGallery > li {
  border-radius: var(--radius);
  width: calc((100% - 3 * 8px) / 4);
  aspect-ratio: 1/1;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}
.galleryImage {
  object-fit: contain;
  transform: scale(1.8);
  transition: all 0.12s ease-in-out;
}

.galleryImage:hover {
  transform: scale(2);
}

/* animation */
.fadeIn {
  opacity: 1;
  transition: opacity 1s ease;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s linear;
}

/* ------------------- Charackters Modal */
.cardList {
  display: flex;
  align-items: flex-start;
  max-width: 556px;
}

@media screen and (min-width: 768px) {

  .modalCard {
    padding: 64px 32px;
  }
  .descriptionBlock {
    gap: 32px;
  }

  .aboutHeader {
    flex-direction: row;
    align-items: center;
    margin-bottom: 19px;
  }
 
  .creatorsBlock {
    flex-direction: row;
  }
  .charactersListItem {
    gap: 8px;
    flex-direction: row;
  }
  .modalTitle {
    font-size: 24px;
  }
  .authorDetailTitle,
  .modalText {
    font-size: 16px;
  }
  .modalText > li:not(:last-child) {
    margin-bottom: 0.6em;
  }
  .characters {
    grid-template-columns: repeat(2, 33%);
  }

  .details > li {
    gap: 8px;
  }
  .detailName {
    font-size: 12px;
    line-height: 14px;
  }
  .creatorRole {
    font-size: 12px;
    line-height: 14px;
  }
  .aboutHeader {
    margin-bottom: 16px;
  }
  /* Gallery Block  */
  .photoBlock {
    display: flex;
    gap: 8px;
    width: 100%
  }
  .imgBG{
    flex-shrink: 0.7;
  }
  .imageGallery{
   flex-direction: row;
   align-content: flex-start;
   margin-top: 0;
  }
  .imageGallery > li{
    width: calc(100% / 2 - 35px)
  }

}

@media screen and (min-width: 1440px) {
  .modalCard {
    width: 70%;
    min-width: 1000px;
    margin: 0 auto;
    background-color: var(--bg);
    color: var(--text-prime);
    border-radius: var(--radius);
    position: relative;
    padding: 64px 32px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .descriptionBlock {
    width: calc(100% - (332px + 16px));
  }
  .photoBlock {
    display: block;
    width: 332px;
  }
  .characters {
    /* display: flex; */
    grid-template-columns: repeat(3, 1fr);
  }
  .imageGallery {
    margin-top: 8px;
  }
  .imageGallery > li {
    text-wrap: pretty;
    width: calc((100% - 3 * 8px) / 4);

  }
}
