.container {
  width: 352px;
  position: relative;
}
.cardRight {
  height: 540px;
  position: relative;
  overflow: hidden;
  background-color: #171717;
  border-radius: var(--radius);
  background-repeat: no-repeat;
  background-position: bottom right;

  z-index: 1;
}
/* background gradient */
.light {
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 20%;
  right: 0;

  transition: transform 0.3s ease;  


  width: 332px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 200000px;
  

  filter: blur(47px);
}
.cardRight.blue ~ .light{
  background: #34387f ;
}
.cardRight.red ~ .light{
  background: #600404;
  filter: blur(47px);
}
.cardRight.green ~ .light{
  background: #5B7F3C;

filter: blur(47px);

}


/* image */
.charImage {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: bottom right;
  filter: drop-shadow(2px 2px 4px #292828);
}
.charImage.blue {
  background-image: url('../../images/Hero/RightCard/panther-r-dsk.png');
  background-size: 261px 417px;
}
.charImage.red {
  background-image: url('../../images/Hero/RightCard/spider-r-dsk.png');
  background-position: bottom 16px right 16px;
  background-size: 227px 359px;
}
.charImage.green {
  background-image: url('../../images/Hero/RightCard/hulk-r-dsk.png');
  background-position: bottom 34px left 16px;
  background-size: 300px 389px;
  transform: scale(1.1);
}

/* Lines */
.lines {
  transform: rotate(112.073deg) translate(-35px, -18%);
}

.lines:nth-child(1),
.lines:nth-child(2) {
  display: block;
  height: 100%;
  width: 168px;
  border: 2px solid;
  border-top: #fff;
  border-bottom: #fff;
  z-index: 2;
  position: relative;
}
.lines:nth-child(1):before,
.lines:nth-child(1):after,
.lines:nth-child(2):after {
  content: '';
  position: absolute;
  top: 0;
  left: 21px;
  display: block;
  height: 100%;
  z-index: 2;
  border: 2px solid;
  border-top: #fff;
  border-bottom: #fff;
  width: calc(168px - 2 * 21px);
}
.lines:nth-child(1):after {
  left: calc(21px * 2);
  width: calc(168px - 4 * 21px);
}
.lines:nth-child(2) {
  position: absolute;
  top: 0;
  width: calc(168px - 6 * 21px);
  left: calc(21px * 3);
}
.lines:nth-child(2):after {
  left: 18px;
  width: 2px;
  border-right: transparent;
}

/* bottom tab text */
.bottomTab {
  width: 320px;
  margin-top: 32px;
  display: flex;
  gap: 59px;
  padding-top: 16px;
  border-top: 2px solid var(--text-secondary);
  position: absolute;
  z-index: 3;
}
.bottomTab:after {
  content: '◀';
  display: block;
  font-size: 6px;
  color: var(--text-secondary);
  position: absolute;
  top: -4px;
  right: 0;
  z-index: 2;
  mix-blend-mode: exclusion;
}
.bottomTab:before {
  content: '▶';
  display: block;
  font-size: 6px;
  color: var(--text-secondary);
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 2;
  mix-blend-mode: exclusion;
}
.characters {
  color: var(--text-prime);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.24px;
}
.description {
  width: 195px;
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}

/*  bottom sphere */
.cardName {
  color: var(--text-prime);
  text-decoration: none;
  position: absolute;
  bottom: 16px;
  left: 16px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease;

  border-radius: 50%;

  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  text-align: left;
  z-index: 4;

  width: 144px;
  height: 144px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(101, 101, 101, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.cardRight.green > .cardName {
  background: radial-gradient(81.15% 81.15% at 50% 18.85%, #5b7f3c 0%, #171717 100%);
}
.cardRight.blue > .cardName {
  background: radial-gradient(81.15% 81.15% at 50% 18.85%, #34387f 0%, #171717 100%);
}
.cardRight.red > .cardName {
  background: radial-gradient(81.15% 81.15% at 50% 18.85%, #600404 0%, #171717 100%);
}

.cardName:hover,  .container:has(.cardRight > .cardName:hover)  #lightBulb{
  transform: scale(1.1)
}
