.modalCard {
    width: 70%;
    min-width: 1000px;
    margin: 0 auto;
    background-color: var(--bg);
    color: var(--text-prime);
    border-radius: var(--radius);
    position: relative;
    padding: 64px 32px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  