
.swiper {
  width: 100%;
  height: 768px;
  overflow: hidden;

}
.hero{
    height: 748px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  transform: rotate(90deg) translateX(50%);
  display: flex;
  gap: 14px;
  flex-direction: row;
  height: 4px;
  width: calc(100px * 3 + 2 * 14px);
  position: absolute;
  left: 387px;
  top: 333px;
}
.pageElement {
  flex-grow: 1;
  height: 100%;
  background-color: #171717b3;
  cursor: pointer;
}
.pageElement:nth-child(1).active {
  background-color: var(--blue);
}
.pageElement:nth-child(2).active {
  background-color: var(--red);
}
.pageElement:nth-child(3).active {
  background-color: var(--green);
}




