.form {
  display: grid;
  gap: 8px;
  grid-template-areas:
    'query query'
    'format order'
    'date .';
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: center;
  padding: 0 20px;
}

.form > .label:nth-child(1) {
  grid-area: query;
}
.form > .label:nth-child(2) {
  grid-area: format;
}
.form > .label:nth-child(3) {
  grid-area: order;
}

.datePicker {
  height: 76px;
  grid-area: date;
  width: 156px;
}
.search {
  width: 100%;
}

.form > .label,
.datePicker {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

input::placeholder {
  color: #fafafa;
  font-size: 14px;
  line-height: 18px;
}
.lableText {
  color: var(--text-secondary);
  font-size: 12px;
  line-height: 14px;
}

.search,
.dateInput {
  color: inherit;

  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 100px;
  padding: 14px 24px;

  outline: none;
}
.datePicker,
.dateInput {
  width: calc(100vw / 2 - 28px);
  z-index: 15;
}

.dateInput {
  background-color: transparent;
  overflow: hidden;
}

.picker {
  position: absolute;
  fill: var(--text-prime);
  right: 24px;
  bottom: 40%;
  transform: translateY(30%);
  cursor: pointer;
  transition: all 0.3s ease;
}
.picker:hover {
  fill: #999999;
}

.picker.active {
  transform: rotate(180deg) translateY(-30%);
}

.icon {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 24px;
  bottom: 16px;
  cursor: pointer;

  will-change: transform;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 500px) {
  .form {
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'query format order'
      'date . .';
    padding: 0 32px;
  }
  .icon {
    right: 24px;
    bottom: 17px;
  }
  .datePicker,
  .dateInput {
    width: calc(100vw / 3 - 38px);
  }
}

@media screen and (min-width: 768px) {
  .form {
    display: grid;
    gap: 16px;
    grid-template-areas: 'query format order date';
    padding: 0 32px;
  }
  .form > .label,
  .datePicker {
    gap: 8px;
  }

  .datePicker {
    height: 76px;
    grid-area: date;
    width: 156px;
  }
  .search {
    width: 100%;
  }
  .lableText {
    font-size: 14px;
    line-height: 18px;
  }
  input::placeholder {
    font-size: 16px;
    line-height: 18px;
  }
  .search,
  .dateInput {
    padding: 16px 24px;
  }
  .dateInput {
    width: 166px;
  }

  .picker {
    right: 10px;
    bottom: 32%;
    transform: translateY(50%);
  }
  .picker.active {
    transform: rotate(180deg) translateY(-50%);
  }
  .icon {

    bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .form > .label,
  .datePicker {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .datePicker {
    height: 76px;
  }
  .search {
    width: 360px;
  }
  .dateInput {
    width: 167px;
    background-color: transparent;
    overflow: hidden;
  }
}
