.header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 24px 20px;
     position: absolute;
     top:0;
     left:50%;
     transform: translateX(-50%);
     width: 100%;
     z-index: 35;
     
}
@media screen and (min-width: 768px) {
     .header{
          padding: 24px 32px;
     }
}