.header{
     display: flex;
     justify-content: space-between;
     padding: 24px 32px;
     position: absolute;
     top:0;
     left:50%;
     transform: translateX(-50%);
     width: 100%;
     z-index: 35;
     
}