.charHero {
  background: linear-gradient(91deg, rgba(12, 11, 11, 0) 78.74%, #0c0b0b 96%),
    linear-gradient(2deg, #0c0b0b 2.15%, rgba(12, 11, 11, 0) 32.65%),
    linear-gradient(84deg, #0c0b0b 4.87%, rgba(12, 11, 11, 0) 15.93%),
    linear-gradient(180deg, #0c0b0b 0%, rgba(12, 11, 11, 0) 72.35%),
    url('../../../images/CharactersHero/char-hero-mob.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 509px;
  width: 100%;
  color: white;
  font-size: 64px;
  padding-left: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.infoBlock {
  width: 323px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about {
  color: #ffffffb3;
  font-size: 14px;
  line-height: 128.571%;
  text-transform: uppercase;
  z-index: 10;
}
.title {
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.2px;
}
.description {
  position: relative;
  max-width: none;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.28px;
}
@media screen and (min-width: 375px) {
  .charHero {
    background-size: contain;
     background-position: right center;
  }
}

@media screen and (min-width: 480px) {
  .charHero {
    background: linear-gradient(257deg, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 1) 70%),
      linear-gradient(2deg, #0c0b0b 2.15%, rgba(12, 11, 11, 0) 32.65%),
      linear-gradient(84deg, #0c0b0b 4.87%, rgba(12, 11, 11, 0) 15.93%),
      linear-gradient(180deg, #0c0b0b 0%, rgba(12, 11, 11, 0) 50.35%),
      url('../../../images/CharactersHero/char-hero-mob.png');
    background-repeat: no-repeat;
    padding-left: 32px;
    background-position: right center;
    background-size: contain;
  }
}

@media screen and (min-width: 768px) {
  .charHero {
    background: linear-gradient(91deg, rgba(12, 11, 11, 0) 78.74%, #0c0b0b 96%),
      linear-gradient(2deg, #0c0b0b 2.15%, rgba(12, 11, 11, 0) 32.65%),
      linear-gradient(84deg, #0c0b0b 4.87%, rgba(12, 11, 11, 0) 15.93%),
      linear-gradient(180deg, #0c0b0b 0%, rgba(12, 11, 11, 0) 72.35%),
      url('../../../images/CharactersHero/char-hero-tab.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 780px;
  }
  .infoBlock {
    width: 830px;
    gap: 16px;
  }
  .about {
    font-size: 18px;
    line-height: 160%;
  }
  .title {
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -3px;
  }
  .description {
    max-width: 469px;
    left: 88px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.32px;
  }
}

@media screen and (min-width: 1440px) {
  .charHero {
    background: linear-gradient(91deg, rgba(12, 11, 11, 0) 78.74%, #0c0b0b 96%),
      linear-gradient(2deg, #0c0b0b 2.15%, rgba(12, 11, 11, 0) 32.65%),
      linear-gradient(84deg, #0c0b0b 4.87%, rgba(12, 11, 11, 0) 15.93%),
      linear-gradient(180deg, #0c0b0b 0%, rgba(12, 11, 11, 0) 72.35%),
      url('../../../images/CharactersHero/char-hero-dsk.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 348px top 11px;
  }
}
