.slide {
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  gap: 40px;
}

.infoBlock {
  width: 100%;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about {
  color: var(--text-secondary);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.title {
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1.6px;
  max-width: 323px;
}
.description {
  font-size: 14px;
  line-height: 18px;
  text-wrap: balance;
  max-width: 437px;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  height: 97%;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}

.imageBlock > div:nth-child(1) {
  align-self: flex-start;
}
.imageBlock > div:nth-child(2) {
  align-self: flex-end;
}

.vertLine {
  display: block;
  width: 2px;
  height: 800px;
  background-color: #fff;
  margin-left: 77px;
}

.slideBtn {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;

  margin-top: 16px;
  width: 131px;
  text-decoration: none;
  color: inherit;
  padding: 12px 24px;
  border-radius: 1000px;
  will-change: transform;
  transition: transform 0.3s ease !important;
}
.slideBtn.blue,
.leftImageBlock.blue {
  background-color: var(--blue);
}
.slideBtn.red,
.leftImageBlock.red {
  background-color: var(--red);
}
.slideBtn.green,
.leftImageBlock.green {
  background-color: var(--green);
}

.slideBtn:is(:hover, :active) {
  transform: scale(1.1) !important;
}

@media screen and (min-width: 768px) {
  .slide {
    gap: 32px;
    margin-bottom: 40px;
  }
  .infoBlock {
    width: 100%;
    padding-top: 146px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 538px;
  }
  .about {
    font-size: 18px;
    line-height: 28.8px;
  }
  .title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.6px;
    max-width: none;
  }
  .description {
    font-size: 16px;
  }
  .imageBlock {
    flex-direction: row;
    gap: 32px;
  }
  .imageBlock > div:nth-child(1) {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  .slide {
    flex-direction: row;
    align-items: center;
    padding-left: 32px;
    gap: 145px;
  }
  .infoBlock {
    flex-grow: 1;
    padding-top: 0;
  }
  .description {
    font-size: 16px;
    max-width: none;
  }
  .imageBlock > div:nth-child(2) {
    align-self: flex-start;
  }
}
