@import "./../node_modules/modern-normalize/modern-normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');




body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-prime);
  font-weight: 400;
  background-color: var(--bg);
}
html::-webkit-scrollbar{
  display:none;
}


img{
  display: block;
  width: 100%;
  
}

h1,h2,h3,h4,h5,h6,p,a,li,ol,span, ul, ol{
  margin:0;
  padding:0;
}
ol, li{
  list-style: none;
}

:root{
  --bg: #0C0B0B;
  --bg2: #171717;
  --text-prime: #FAFAFA;
  --text-secondary: #fafafa66;
  --btn: #34387F;
  --radius: 8px;

  --blue: #34387F;
  --red: #600404;
  --green: #5B7F3C;


}


  .visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container{
    width: 100%;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    .container{
      width: 768pxx
    }
  }
  @media screen and (min-width: 1440px) {
    .container{
      width: 1440px
    }
  }