.closeBtn{
    position: absolute;
    right: 14px;
    top: 14px;
    width: 24px;
    height: auto;
    display: inline-block;
    cursor: pointer;
  
  }

  @media screen and (min-width: 768px) {
    .closeBtn{
      right: 24px;
      top: 24px;
    }
  }